
$intro-transition: 1.6s cubic-bezier(0.27, 0, 0.04, 1);

.main-wrapper {
  background-image: url(../assets/img/sky-low.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  position: absolute;
  width: 100%;
}
.backdrop {
  background-image: linear-gradient(0deg, rgba(0, 140, 127, 0.55) 0%, rgba(0, 208, 234, 0.78) 51%, rgba(0, 108, 148, 0.62) 75%);
  height: 100%;
  position: absolute;
  width: 100%;
  z-index: 0;
}
.full-name {
  color: #004d75;
  font-size: 4em;
  position: absolute;
  top: 50%;
  transform: translateY(-1.4em);
  transition: $intro-transition;
  text-align: center;
  width: 100%;
}
.job-title {
  color: #004d75;
  font-size: 2em;
  position: absolute;
  top: 50%;
  transform: translateY(0em);
  transition: $intro-transition;
  text-align: center;
  width: 100%;
}
.inner-box {
  background-color: #0A3640;
  border: #2D6684 solid 1px;
  border-left: none;
  border-right: none;
  height: 0;
  overflow: hidden;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  transition: $intro-transition;
  width: 100%;
}

.click-guide {
  animation: blinker 2s infinite;
  color: white;
  font-size: 1.2em;
  font-style: italic;
  opacity: 0;
  position: absolute;
  text-align: center;
  top: 50%;
  transform: translateY(4em);
  width: 100%;

  .fa-arrows-v {
    margin-right: 5px;
  }
}

.links {
  bottom: 0;
  opacity: 0;
  position: absolute;
  text-align: center;
  transform: translateY(-2.2em);
  transition: opacity $intro-transition;
  transition-delay: 1.5s;
  width: 100%;

  .fa {
    margin: 0 7px;
    color: #fff;
  }
}

footer {
  display: none;
}

.main {
  .inner-box {
    border-color: #379BB1;
    height: calc(100% - 18em);
  }

  .full-name {
    font-size: 3.5em;
    top: 0%;
    transform: translateY(0.6em);
    color: #fff;
  }

  .job-title {
    font-style: italic;
    font-size: 1.5em;
    top: 100%;
    transform: translateY(-5.2em);
    color: #fff;
  }

  .links {
    opacity: 1;
  }
}

.leftColumn,
.rightColumn {
  display: inline-flex;
  vertical-align: top;
}

.leftColumn {
  align-items: stretch;
  color: #fff;
  flex-wrap: wrap;
  height: calc(100% - 2em);
  justify-content: flex-end;
  margin-top: 1em;
  overflow-y: scroll;
  padding: 0 20px 20px;
  text-align: right;
  width: 46%;

  ul li {
    margin-bottom: 0.8em;
    list-style: none;
  }

  .section {
    .title {
      font-family: 'Oswald';
      font-size: 1.5em;
      margin-bottom: 0.3em;
    }

    .position {
      font-size: 1em;
      font-weight: 600;
    }
  }
}
.rightColumn {
  width: 54%;
}

.home-side {
  .background {
    -webkit-animation: backgroundFlowLeft 45s linear infinite alternate;
    animation: backgroundFlowLeft 45s linear infinite alternate;
    background-image: url('../assets/img/sky-background.png');
    height: 100%;
    position: absolute;
    width: 100%;
    z-index: -2;
  }

  transition: background-position-x 120s linear;
/* background-position-x: -462px; */

  .lightbox {
    background-color: rgba($theme-light-blue, 0.5);
    height: 100%;
    position: absolute;
    width: 100%;
    z-index: -1;
  }

  .contents-wrapper {
    align-items: center;
    color: #fff;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .firstName {
      display: flex;
      font-size: 37px;
      justify-content: center;
      line-height: 28px;
      text-align: center;
      width: 100%;
    }
    .tilide {
      margin: 12px;
    }

    .lastName {
      display: flex;
      font-size: 21px;
      width: 100%;
      justify-content: center;
      text-align: center;
    }
    .description {
      display: flex;
      font-size: 16px;
      font-weight: 200;
      font-family: "Times New Roman", Georgia, Serif;
      font-style: italic;
      justify-content: center;
      margin-bottom: 14px;
      line-height: 21px;
      text-align: center;
      width: 100%;
    }
    .links {
      bottom: 56px;
      display: flex;
      justify-content: center;
      position: absolute;
      text-align: center;
      width: 100%;

      a span {
        color: #fff;
      }

      a + a {
        margin-left: 21px;
      }
    }
  }
}

.exp-side {
  background-color: rgba($theme-light-blue, 1);
  color: #fff;

  .background {
    background-image: url('../assets/img/steps.jpg');
    background-size: cover;
    background-position: center;
    height: 100%;
    position: absolute;
    width: 100%;
    z-index: -2;
  }

  .lightbox {
    background-image: linear-gradient(141deg, rgba(6, 115, 108, 0.60) 0%, #218d98 51%, rgba(30, 125, 160, 0.70) 75%);
    height: 100%;
    position: absolute;
    width: 100%;
    z-index: -1;
  }

  .title {
    font-size: 24px;
    font-weight: 600;
    justify-content: center;
    left: 0;
    position: absolute;
    text-align: center;
    top: 14px;
    width: 100%;
  }

  .exp-wrapper {
    height: 280px;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    overflow-y: scroll;
    width: 300px;
    margin-top: 38px;
  }

  .exp-wrapper::-webkit-scrollbar {
   display: none;
  }

  .exp-row {
    text-align: center;
  }

  .company {
    color: #add8e6;
    font-size: 0.9em;
  }

  .prof {
    font-style: italic;
    font-size: 0.8em;
  }

  .year {
    font-family: 'times new roman';
    font-style: italic;
    font-size: 0.9em;
  }

  hr {
    margin: 18px 45px;
  }

  .school-row + .school-row {
    margin-top: 32px;
  }
}

.rightArrow,
.leftArrow {
  align-items: center;
  display: flex;
  font-size: 21px;
  height: 100%;
  position: absolute;
  width: 100px;
  color: #fff;
  opacity: 0;
}
.rightArrow {
  justify-content: flex-end;
  padding-right: 25px;
  right: 0;
}
.leftArrow {
  justify-content: flex-start;
  left: 0;
  padding-left: 25px;
}

.home-side .rightArrow {
  animation: blinker 1s infinite;
}
.exp-side:hover .leftArrow {
  animation: blinker 1s infinite;
}

.rightColumn {
  .project-list-title {
    background: linear-gradient(180deg, #4c4c4c 0%, rgba(76,76,76,0.8) 75%, rgba(76,76,76,0) 100%);
    color: #fff;
    font-size: 26px;
    height: 70px;
    margin: 0px 0 -1.5em 58px;
    padding-left: 0px;
    position: absolute;
    text-align: left;
    width: calc(100% - 50px);
    z-index: 10;
  }
}

@keyframes blinker {
  50% { opacity: 1; }
}

@media (max-width: $on-laptop) {
  .leftColumn,
  .rightColumn {
    width: 100%;
  }
}

@media (max-width: $on-palm) {
  .home-side .rightArrow,
  .exp-side .leftArrow {
    animation: blinker 1s linear infinite;
  }
}
